
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success btn-crud"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger btn-crud"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            [src]="imagePath.value"
            class="img-responsive"
            style="max-height: 300px"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
      <div formArrayName="ingredients">
        <div
          class="input-ingredients teste"
          *ngFor="let ingredientCtrl of controls; let i = index"
          [formGroupName]="i"
        >
          <div class="name">
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="amount">
            <input
              type="number"
              class="form-control"
              formControlName="amount"
            />
          </div>
          <div class="delete">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteIngredient(i)"
            >
              X
            </button>
          </div>
        </div>
        <div class="quantity">
          <p>Quantidade de ingredientes: {{ controls.length }}</p>
        </div>
        <hr />
        <div class="row">
          <div class="col-xs-12" style="text-align: right">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddIngredient()"
            >
              Add ingredient
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
