<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="text-center">
      <h4>Faça o Login para ter acesso ao sistema!</h4>
    </div>
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div> -->
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
      </div>
      <div class="content-btn">
        <button class="btn btn-primary" [disabled]="!authForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
