/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
}

body::-webkit-scrollbar {
  width: 0px;
  /* width of the entire scrollbar */
}
